body {
    width:70%;
}

#header {
    text-align:center;
}

#image1 {
    margin-left: 35%;
}

#intro {
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 2px;
    background-color:rosybrown;
}

#workHeading{
    text-align: center;
}

#work1 {
    border-style: solid;
    border-color: navajowhite;
    padding-left: 10px;
    margin-bottom: 5px;
}

#work2 {
    border-style: solid;
    border-color: navajowhite;
    padding-left: 10px;
    margin-bottom: 5px;
}

#work3 {
    border-style: solid;
    border-color: navajowhite;
    padding-left: 10px;
    margin-bottom: 5px;
}

#educationHeading { 
    text-align: center;
}

#education2 {
float:left;
width:30%;
border-color: rosybrown;
padding-left: 5px;
padding-bottom: 18px;
margin-bottom: 5px;
border-style: solid;
margin-right: 5px;
}

#education3 {
float:left;
width:30%;
padding-left: 5px;
margin-bottom: 5px;
border-style: solid;
border-color: rosybrown;
padding-right: 20px;
}

#education1 {
float:left;
width:30%;
border-color: rosybrown;
padding-left: 5px;
padding-bottom: 18px;
padding-right: 8px;
margin-bottom: 5px;
border-style: solid;
margin-right: 5px;
}
